.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
p.caption {
  color: #777;
  margin-top: 10px;

}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  background: #303030;
}
pre code {
  white-space: inherit;
  word-wrap: normal;
  background-color: #303030;
}
.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
  border-color:red;
}
/*
.level1 h1 {
  border-bottom: 1px solid;
  border-color:blue;
}  
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}*/
h1.title {
  font-weight: 700;
  text-align: right;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}
h4.author { /* Header 4 - and the author and data headers use this too  */
    font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: DarkRed;
  text-align: right;
}
.comment {
/*background-color: #DBDBDB;*/
padding: 10px;
border: 1px solid black;
margin-left: 25px;
border-radius: 5px;
font-style: italic;
font-size : 13px;
  color: DarkRed;
}
.boxBorder {
 border: 2px solid #990066;
 border-radius: 5px;
 font-style: italic;
 padding: 10px;
 outline: #990066 solid 5px;
 outline-offset: 5px;
 margin-bottom: 25px;
 }
 
 .watch-out {
  background-color: DarkBlue;
  border: 3px solid red;
  font-weight: bold;
}